<!DOCTYPE html>
<html>
  <%- include("fragments/head.ejs") %>

  <body onload='changePage("cd_page")'>
    <%- include("fragments/header.ejs") %>

    <script src="/public/js/cd-scripts.js"></script>

    <script type="module">
      const base_url = "<%= base_uri %>"

      import { CDServiceProxy } from "/models/cd-proxy.mjs"
      import { CD } from "/models/cd.mjs"
      console.log("imported successful")
      // make these two available to global scripts
      window.cdService = new CDServiceProxy(base_url)
      window.CD = CD
    </script>

    <section id="cd_page" style="display: none">
      <%- include("fragments/cd-list.ejs") %>
      <%- include("fragments/cd-details.ejs") %>
    </section>

    <section id="add_page" style="display: none">
      <%- include("fragments/cd-add.ejs") %>
    </section>

    <script>
      const nav_links = Array.from(document.querySelectorAll("nav a"))
      nav_links.forEach(link => link.addEventListener("click", function(event) {
            event.preventDefault();
            changePage(event.target.dataset.page)
      }))

      let page = document.getElementById("cd_page")
      page.setup = populateCDTable

      page = document.getElementById("add_page")
      page.setup = prepareAdd
    </script>

    <%- include("fragments/footer.ejs") %>
  </body>
</html>
