<!DOCTYPE html>
<html>
  <%- include("fragments/head.ejs") %>

  <body onload='changePage("about_page")'>
    <%- include("fragments/header.ejs") %>

    <script src="/public/js/mini-spa.js"></script>
    <script src="/public/js/cd-scripts.js"></script>

    <script type="module">
      const base_url = "<%= base_uri %>"

      import { CDServiceProxy } from "/models/cd-proxy.mjs"
      import { CD } from "/models/cd.mjs"
      console.log("imported successful")
      // make these two available to global scripts
      window.cdService = new CDServiceProxy(base_url)
      window.CD = CD
    </script>

    <section id="about_page" class="page" data-title="Home" style="display: none">
      <%- include("fragments/about.ejs") %>
    </section>
    <section id="cd_page" class="page" data-title = "View CDs" data-setup="populateCDTable" style="display: none">
      <%- include("fragments/cd-list.ejs") %>
      <%- include("fragments/cd-details.ejs") %>
    </section>

    <section id="add_page" class="page" data-title="Add CD" data-setup="prepareAddCD" style="display: none">
      <%- include("fragments/cd-add.ejs") %>
    </section>

    <script>
      const nav = document.querySelector("#nav #menu")
      const pages = Array.from(document.querySelectorAll(".page"))
      pages.forEach (page => {
	  const link = document.createElement("li")
	  const anchor = document.createElement("a")
	  anchor.setAttribute("href", null)
	  anchor.dataset.page = page.id
	  anchor.addEventListener("click", function(event) {
              event.preventDefault();
              changePage(event.target.dataset.page)
	  })
	  anchor.innerHTML=page.dataset.title

	  link.appendChild(anchor)
	  nav.appendChild(link)
      })
    </script>

    <%- include("fragments/footer.ejs") %>
  </body>
</html>
